@import '../common/styles/sass/variables.scss';

.skillsBlock{
   height: 30vh;
   background-color: $bgColor ;
}

.skillsContainer{
   align-items: center;
   flex-direction: column;
   justify-content: flex-start;
   

}
.title{
  background-color: $bgSecondColor;
}
.skills{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
}

@media screen and (max-width: 1129px) {
  .skillsBlock{
    height: 70vh;
  }
}
