@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins.scss';
.mainBlock{
  height: 100vh;
  background-color:$bgColor;
}

.text{
  width: 300px;
  background-color: $bgSecondColor;
  color: $textColor;
  @include text($titleFontFamily, 18px, 1 );
  padding: 10px;
} 
.photo{
  width: 500px;
  height: 500px;
  background-color: $bgSecondColor;
  color: $textColor;
}
img{
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1129px) {
  .text{
    width: 100%;
    height: 50%;
    margin: 10px;
  }
  .photo{
    width: 100%;
    height: 40%;
  }
}