.mainBlock{
  height: 100vh;
  background-color: rgb(235, 138, 138);
}

.text{
  width: 300px;
  background-color: antiquewhite;
} 
.photo{
  width: 300px;
  height: 400px;
  background-color: burlywood;
}