@import '../common/styles/sass/variables.scss';

footer{
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
  padding: 10px;
}

a{
  color: $textColor;
  font-size: 14px;
  margin-left: 10px;
}

.footer{
  background-color: $bgSecondColor;
}

a:hover{
  border-bottom: 1px solid white;
}
